@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
   
}
main{
    display: flex;
    justify-content: center; 
}
.container{
    width: 870px;
    background-color: white;
}
.section-title{
    color: #562EFF;
    padding-top: 30px;
    
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    padding-left:16px;
}
.section-title, .player img{
    padding-left: 30px;
}
hr{
    width: 807px; 
    height: 1px;
    background-color: rgba(243, 237, 237, 0.973);
      
}

/* top blogs starts */

.blog-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.top-blogs{
    display: flex;
}
.top-blogs img{
    width: 224px;
    height: 127px; 
    padding-left: 30px;
}
.top-blogs h4{
    padding-left: 10px;
}
