@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
   
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    
}
.container{
    width: 870px;
    background-color: white;
    border-radius: 5px;
}
.section-title{
    color: #562EFF;
    padding-top: 30px;
    
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player{
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    padding-left:16px;
}
.section-title, .player img{
    padding-left: 30px;
}
hr{
    width: 807px; 
    height: 1px;
    border: 1px solid #D1D1D1;    
}

/* top blogs starts */

.blog-container{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 20px;
}
.blog-header{
    font-size: 24px;
    color: #562EFF;
    padding-top: 30px;
    padding-left: 30px; 
}
.top-blogs{
    display: flex;
    align-items: center;
}
.top-blogs img{
    width: 224px;
    height: 127px; 
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 42px; 
}
.top-blogs h4{
    padding-left: 10px;
}
.top-blogs a{
    text-decoration: none;
    font-size: 13px;
}
.top-blogs span{
    font-size: 10px;
    color: #D1D1D1;
}

/* latest courses starts
*/
.our-courses{
    background-color: white;
    margin-top: 30px;
    padding-bottom: 22px; 
    border-radius: 5px;
}
.course-header{
    color: #562EFF;
    margin-top: 50px;
    padding-left: 30px;

}
.course-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 870px;
    height: 350px;
    background-color: white;
     
}
.course-details{
    margin-top: 30px;
    margin-left: 12px;
    width: 90%;
    border: 2px solid white;
    box-shadow: -1px  -1px  4px .4px lightgray;
    border-radius: 10px; 
}
.course-details h2{
    font-size: 1em;
    padding-left: 20px;
}
.course-details img{
    width: 224px;
    height: 104px;
    padding: 15px 20px;
}
.course-details p{
    font-size: 14px;
    color: #ED6B4F;
    padding-left: 20px;
}
.course-details span{
    padding-left: 20px;
}
.star-color{
    color: orange;
}
.non-color{
    color:  #AEAEAE;
}
.space{
    padding-left: 20px;
}